[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
x509_extensions = v3_req

[dn]
C = US
ST = State
L = City
O = My Company
OU = My Org Unit
CN = 172.20.1.23

[v3_req]
subjectAltName = @alt_names

[alt_names]
IP.1 = 172.20.1.23
